#IN this view, create a variable 
#name this vairable should store
#the name Joe. 
#Using erb tags say "Goodbye Joe"
#in an h1 tag
#this should get rendered via a 
#GET /goodbye route by your App 
#controller in app.rb
<!DOCTYPE html>
<% name = "Joe" %>
<h1><%= "Goodbye" + "#{name}" %></h2> 

<html>